$colortext: #150A01;

.padding {
    padding: 0 15px;
    @media (max-width: 990px) {
        padding: 0 25px;
    }
}

.margin {
    margin-bottom: 60px;
    @media (max-width: 990px) {
        margin-bottom: 35px;
    }
}