footer {
    background: #F3F3F3;
    padding: 50px 0 30px 0;
    @media (max-width: 990px) {
        padding: 30px 0;
    }
    .footer-container {
        display: grid;
        grid-template-columns: 2fr 4fr 3fr 2fr;
        grid-gap: 20px;
        margin-bottom: 40px;
        @media (max-width: 990px) {
            grid-template-columns: 1fr 3fr;
            grid-gap: 5px;
            margin-bottom: 20px;
        }
        .footer-logo {
            .protect-rights {
                color: rgba(21, 10, 1, .6);
                font-size: .8rem;
                font-family: "Museo-regular";
                @media (max-width: 990px) {
                    display: none;
                }
            }
        }
        .footer-catalog {
            @media (max-width: 990px) {
                display: none;
            }
            .catalog-title {
                font-size: 1.1rem;
                color: $colortext;
                font-family: "Museo-regular";
            }
            ul {
                list-style-position: inside;
                column-count: 2;
                list-style-type: decimal;
                li {
                    padding: 5px 0;
                    a {
                        font-size: .9rem;
                        opacity: .7;
                        color: $colortext;
                        transition: .3s;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
                li:nth-child(4){
                    padding-bottom: 0;
                }
            }
        }
        .footer-nav {
            @media (max-width: 990px) {
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 2;
            }
            ul {
                list-style-position: inside;
                column-count: 2;
                list-style-type: decimal;
                @media (max-width: 990px) {
                    margin: 10px 0;
                }
                li {
                    padding: 14px 0;
                    a {
                        font-size: 1.05rem;
                        color: $colortext;
                        font-family: "Museo-regular";
                        transition: .3s;
                        &:hover {
                            text-decoration: underline;
                        }
                        @media (max-width: 576px) {
                            font-size: .95rem;
                        }
                    }
                }
                li:nth-child(3) {
                    padding-bottom: 0;
                }
            }
        }
        .footer-feedback {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: flex-end;
            a {
                font-size: 1.15rem;
                color: $colortext;
                margin-bottom: 25px;
                font-family: "Lato-bold";
                &:hover {
                    text-decoration: underline;
                }
                @media (max-width: 1280px) {
                    font-size: 1rem;
                }
                @media (max-width: 990px) {
                    font-size: .95rem;
                    margin-bottom: 5px;
                }
            }
        }
    }
    .footer-social {
        text-align: center;
        @media (max-width: 576px) {
            text-align: left;
        }
        p {
            color: $colortext;
            font-size: 1.1rem;
            font-family: "Museo-regular";
            margin-bottom: 15px;
            @media (max-width: 576px) {
                font-family: "Museo-bold";
                margin-bottom: 20px;
            }
        }
        .protect-rights {
            display: none;
            @media (max-width: 990px) {
                display: block;
                color: rgba(21, 10, 1, .6);
                font-size: .8rem;
                font-family: "Museo-regular";
                text-align: center;
            }
        }
        div {
            display: flex;
            justify-content: center;
            @media (max-width: 990px) {
                margin-bottom: 25px;
            }
            a {
                margin: 0 5px;
                img {
                    transition: .2s;
                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
}